.logo {
	 float: left;
}
 nav {
	 float: right;
	 font-size: 20px;
}
 nav ul {
	 margin: 0;
	 padding: 0;
	 list-style: none;
}
 nav li {
	 display: inline-block;
}
 body {
	 background: #000000;
	 color: rgb(0, 0, 0)505;
	 font-size: 30px;
}
 a {
	 color: #000000
}
 h1 {
	 color: #008080
}
 p {
	 color: #008000
}
 ol {
	 color: #008000
}
